@import "tailwindcss";

:root {
  --background: #7c6699;
  --foreground: #483166;
  --secondary: #dcabef;
  --radial: #f19fff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #160F1F;
    --foreground: #DCD2EA;
    --secondary: #5a3f65;
    --radial: #473959;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

h2 {
  font-size: 3rem;
  padding: 0 5.5rem;
  margin-top: 7vh;
}