@import "tailwindcss";

:root {
  --background: #8d8696;
  --foreground: #160F1F;
  --secondary: #b386c5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #160F1F;
    --foreground: #DCD2EA;
    --secondary: #7d5d8a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

h2 {
  font-size: 3rem;
  padding: 0 5.5rem;
  margin-top: 30vh;
}